html {
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


body{
    background: linear-gradient(#4F428B, #000333);

    background-repeat: no-repeat;
    font-family: tahoma, arial, sans-serif;
    font-size: 16px;
}
#score {
  text-align: center;
  font-size: 30px;
  width: 33%;
  float: left;
  //border:3px solid white;
  padding: 2%;
  font-weight: 600;
}
#gameName{
  width:33%;
}
#questNum{
  width: 33%;
  //border: 3px solid ;
  padding:2%;
  text-align: center;
  font-weight: 600;
  font-size:25px;
}
h1 {
  
    text-align: center;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container{
  text-align: center;
    //width: auto;
  //height: auto;
    padding: 0px 50px;
}
header{
  
  display: flex;
}
#winPosition{
  text-align: center;
}
.mainWin {
    width: 70%;
    min-height: 150px;
  background-color: #333;
    border-radius: 200px;
    margin: 0 auto;
    font-weight: 900;
    padding-top: 12px;
  position: center
   
}
#questions {
  font-size:20px;
  

}
.answers {
    //width: calc(100%);
    text-align: center;
    height: 70px;
    line-height: 73px;
    border-radius: 50px;
    margin: 15px;
    cursor:pointer;
    background: linear-gradient(#4F428B, #22155A);
    color: grey;
  width:47%;
  float: left;
}
#box1{
  //width:40%;
//float:left;
}
#box2{
  //width: 40%;
  //float:left;
}
#box3 {
 //width: 40%;
  //float:left;
}
#box4 {
  //width: 40%;
  //float:left;
}
.answers:hover{
    background: linear-gradient(#8677C5, #22155A);
  border-radius:30px;
}
